body {
    font-family: 'Open Sans';
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 80px;
    padding: auto;
    margin: 0px;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background: #2148b5;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.466);
}

.logo {
    height: 40px;
    padding: 7px;
    filter: brightness(0) invert(1);
    padding: 20px;
}

.menu {
    display: flex;
    background-color: #2148B5;
    border-radius: 90px;
    padding: 5px;
}

.menu > input {
    background-color: white;
    margin: 1px;
    padding: 13px 30px 13px 30px;
    font-size: 12pt;
    border: none;
    color: #2148b5;
    border-radius: 30px;
    transform: translateX(-20px);
}

.menu > input:hover {
    background-color: transparent;
    margin: 1px;
    padding: 10px;
    font-size: 12pt;
    border: none;
    color: grey;
}

.capa {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: -30px;
}

.capatxt {
    color: white;
    text-align: left;
    padding: 50px;
    position: absolute;
    top: 80px;
    width: auto;
    height: 470px;
    left: 0;
}

.capatxt > h1 {
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 30pt;
    margin-bottom: 0;
}

.capatxt > p {
    font-size: 13pt;
}

.dataturma {
    padding: 5px 15px 5px 15px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    width: 240px;
}

.button1 {
    background-color: #78B521;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px black;
}

.button2 {
    background-color: #2148B5;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px black;
    margin-left: 20px;
}

.buldingIcon {
    position: relative;
    filter: opacity(5%);
    margin-top: -170px;
    object-fit: fill;
    height: 240px;
    transform: translateX(180px);
}

.nossoObjetivo > h1 {
    color: #2148B5;
    font-family: 'Open Sans';
    font-weight: bolder;
}

.nossoObjetivo > p {
    font-weight: bold;
}

footer {
    background-color: #2148B5;
    color: white;
    padding: 20px;
    text-align: center;
    border: none;
}